header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  background-color: rgb(57, 56, 56);
}
ul {
  display: flex;
  justify-content: center;
}
header ul li {
  margin: 60px;
}
#img2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#img3 li {
  display: flex;
  justify-content: center;
  margin: 15px;
}
#img4 {
  display: flex;
  justify-content: left;
  margin-left: 280px;
}
#img4 h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 100px;
  margin-right: 300px;
}
